.button {
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 5px;
	color: $white;
	padding: 8px 15px;
	transition: all ease-in-out 0.3s;

	&:hover {
		border: 2px solid $white;
		cursor: pointer;
		color: $gray;
		opacity: 0.8;
	}

	&.icon {
		font-size: 22px;
	}

	&.edit {
		color: $white;

		&:hover {
			border: 2px solid transparent;
			color: $yellow;
		}
	}

	&.delete {
		color: $white;

		&:hover {
			border: 2px solid transparent;
			color: $red;
		}
	}
}