.task {
    align-items: center;
    border: 1px solid $gray;
    border-radius: 50px;
	color: $white;
    display: flex;
    font-family: $font-primary;
	font-size: 22px;
	font-style: italic;
    justify-content: space-between;
    line-height: 2;
	list-style: none;
    margin: 10px 35px;
    max-width: 500px;
    padding-left: 20px;
    transition: all ease-in-out 0.3s;

    &:hover {
        background-color: $degradadoTask;
    }

    &-checkbox {
        cursor: pointer;
		height: 25px;
		width: 20px;
	}

    &-text {
        color: $white;
        font-size: 20px;
        text-decoration: none;
    }

    &-checkbox:checked + .text {
        text-decoration: line-through;
    }

    &-buttonContainer {
        align-items: center;
        display: flex;
        gap: 10px;
    }
    
    
}