* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.task {
  align-items: center;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
  color: #fff;
  display: flex;
  font-family: "Noto Serif", serif;
  font-size: 22px;
  font-style: italic;
  justify-content: space-between;
  line-height: 2;
  list-style: none;
  margin: 10px 35px;
  max-width: 500px;
  padding-left: 20px;
  transition: all ease-in-out 0.3s; }
  .task:hover {
    background-color: rgba(0, 0, 0, 0.08); }
  .task-text {
    color: #fff;
    font-size: 20px;
    text-decoration: none; }
  .task-buttonContainer {
    align-items: center;
    display: flex;
    gap: 10px; }
  .task-checkbox {
    cursor: pointer;
    height: 25px;
    width: 20px; }
    .task-checkbox:checked + .text {
      text-decoration: line-through; }
  .task-checkbox:checked + .task {
    background-color: rgba(0, 0, 0, 0.08); }

.button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #fff;
  padding: 8px 15px;
  transition: all ease-in-out 0.3s; }
  .button:hover {
    border: 2px solid #fff;
    cursor: pointer;
    color: #EEEEEE;
    opacity: 0.8; }
  .button.edit {
    color: #fff; }
    .button.edit:hover {
      border: 2px solid transparent;
      color: #FBE800; }
  .button.delete {
    color: #fff; }
    .button.delete:hover {
      border: 2px solid transparent;
      color: #F33333; }
  .button.icon {
    font-size: 22px; }

.Home {
  background: linear-gradient(to right, #F29BC3 20%, #B397DB);
  display: flex;
  justify-content: center;
  height: 100vh; }
  .Home-image {
    background-image: url("https://tmetric.com/media/uyfjlapt/microsoft-to-do-logo.svg");
    background-repeat: no-repeat;
    width: 600px; }
  .Home-container {
    display: block;
    width: 600px;
    height: fit-content;
    margin-top: 150px;
    border: 4px solid #000;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.201); }
  .Home-title {
    font-family: "Noto Serif", serif;
    color: #fff;
    font-size: 40px;
    padding: 20px 0;
    text-align: center; }
    .Home-title::after {
      background: #000;
      content: '';
      display: block;
      height: 2px;
      margin: 0 auto;
      margin-top: 20px;
      width: 400px; }
    .Home-title.second {
      font-size: 30px;
      text-align: start; }
      .Home-title.second::after {
        background: #000;
        content: '';
        display: block;
        height: 2px;
        margin: 5px 2px 0px 2px;
        margin-top: 5px;
        width: 580px; }
  .Home-input {
    background-color: #EEEEEE;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    height: 40px;
    margin: 25px;
    transition: all ease-in-out 0.3s;
    width: 400px;
    padding-left: 15px; }
    .Home-input:focus {
      background-color: rgba(0, 0, 0, 0.201);
      color: #fff; }
    .Home-input::placeholder {
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */